<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Cart</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Your Cart</h1>
      <div th:if="${cart.empty}">
        <p>Your cart is empty</p>
      </div>
      <div th:if="${!cart.empty}">
        <table class="table">
          <thead>
          <tr>
            <th>Product</th>
            <th>Description</th>
            <th>Price</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="product : ${cart}">
            <td th:text="${product.name}">Product Name</td>
            <td th:text="${product.description}">Product Description</td>
            <td th:text="'$' + ${product.price}">Product Price</td>
          </tr>
          </tbody>
        </table>
        <div class="d-flex justify-content-between">
          <form th:action="@{/cart/clear}" method="post">
            <button type="submit" class="btn btn-danger mr-2">Clear Cart</button>
          </form>
          <a th:href="'/checkout?fromCart=true'" class="btn btn-success">Pay</a>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
